---

---

<section
  id="about"
  class="px-4 py-8 min-h-screen flex items-center justify-center overflow-hidden"
>
  <div
    class="w-full max-w-screen-lg mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12 items-center"
  >
    <img
      src="about.webp"
      alt="Jorge Armando Ceras Cárdenas"
      class="rounded-2xl shadow-2xl aspect-square object-cover"
      loading="lazy"
    />

    <div>
      <h2 class="text-4xl md:text-5xl font-bold mb-2">
        Soy <span class="gradient-text">DJ Cen</span>
      </h2>
      <p class="text-lg text-gray-500 mb-4">Jorge Armando Ceras Cárdenas</p>
      <p class="mb-4">
        Inicié mi carrera como DJ en junio de 2021, impulsado por el apoyo y la
        confianza de mi padre, DJ Centella, de Luz y Sonido Centella. Desde
        entonces, he adquirido experiencia en más de 150 eventos de todo tipo,
        creciendo profesionalmente y perfeccionando mi estilo en cada
        presentación.
      </p>
      <p class="mb-4">
        Como DJ Cen, mi misión es simple: crear experiencias únicas que hagan de
        tu evento algo especial. Desde bodas íntimas hasta grandes festivales
        corporativos, mi enfoque siempre es el mismo: profesionalismo, calidad
        y, sobre todo, hacer que todos disfruten al máximo.
      </p>

      <ul class="grid grid-cols-3 gap-6 my-8">
        <li
          class="text-center bg-teal-500 shadow-md rounded-lg text-3xl font-bold text-white py-4 grid"
        >
          <span>150+</span>
          <span class="text-gray-100 font-normal text-lg">Eventos</span>
        </li>
        <li
          class="text-center bg-teal-500 shadow-md rounded-lg text-3xl font-bold text-white py-4 grid"
        >
          <span>100%</span>
          <span class="text-gray-100 font-normal text-lg">Satisfacción</span>
        </li>
        <li
          class="text-center bg-teal-500 shadow-md rounded-lg text-3xl font-bold text-white py-4 grid"
        >
          <span>24/7</span>
          <span class="text-gray-100 font-normal text-lg">Disponibilidad</span>
        </li>
      </ul>
    </div>
  </div>
</section>
