---
import { Star } from "lucide-react";
import ReviewsList from "../components/ReviewsList.tsx";
---

<section
  id="reviews"
  class="px-4 py-8 min-h-screen flex items-center justify-center overflow-hidden"
>
  <div class="w-full max-w-screen-lg mx-auto">
    <header class="text-center mb-12 space-y-2">
      <h2 class="text-4xl md:text-5xl font-bold mb-4">
        Lo que dicen mis <span class="gradient-text">Clientes</span>
      </h2>
      <p class="text-xl text-gray-400">
        Testimonios reales de eventos memorables
      </p>
    </header>

    <ReviewsList client:load />

    <footer class="text-center mt-12">
      <p class="text-gray-600 mb-4">¿Has trabajado con DJ Cen?</p>
      <button
        class="flex gap-2 items-center mx-auto bg-teal-500 hover:bg-teal-700 text-white px-8 py-3 rounded-full transition-all cursor-pointer"
      >
        <Star className="fill-current" /> Dejar una Reseña
      </button>
    </footer>
  </div>
</section>
